:root {
  --main-transtion-time:0.3s;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
/* Start Padding + Margin + border-raduis width */
.p-10 {
  padding: 10px;
}
.p-12 {
  padding: 12px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.m-20 {
  margin: 20px;
}
.m-0 {
  margin: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}

.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}

.ml-10 {
  margin-left: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}

.ml-auto {
  margin-left: auto;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.rad-half {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.g-20 {
  gap: 20px;
}
/* End padding + Margin  + border-raduis*/

/* Start color  backgrounds and font color */
.bg-white {
  background-color: #fff;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: #fff;
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}

/* End color   backgrounds and font color */
/* Start Display  */
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block !important;
  }
  .hide-mobile {
    display: none;
  }
}
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.align-i-center {
  align-items: center;
}
/* End  Display */
/*Start  postion */
.p-relative {
  position: relative;
}
/* End postion */
/* Start fonts */
.txt-center {
  text-align: center;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-22 {
  font-size: 22px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
/* End fonts */
/* Start component */
.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* End component */
